body {
    background: rgb(132, 208, 142);
    color: rgb(234, 234, 234);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* Navigation Menu */
nav {
    background: rgba(21, 21, 21, 0.8);
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    color:rgb(132, 208, 142);
}

/* Main container area beneath menu */
main {
    background: rgba(21, 21, 21, 0.8);
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 20px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* Interests Section Styles */
#interests {
    border: 4px rgb(181, 237, 151) ridge;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio Styles */
.content h1 {
    color: rgb(115, 249, 113);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #dfeee2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee
}

#portfolio a {
    text-decoration: none;
    color: #4d7655
}

.bounce {
  transition: all 0.3s ease-out;
}

.bounce:hover {
  display: inline-block;
  animation: rubberband 0.8s ease-out;
  color: #43d213;
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 0; 
  }
  50% {
    background-position: 100% 0;
  }
}

.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  background-clip: text;
  color: transparent; 
  animation: rainbow_animation 6s ease-in-out infinite; 
  background-size: 400% 100%; 
}

@media screen and (min-width: 120px) and (max-width: 100px) {
    main {
        height: 100ch;
        zoom: 1.5;
        display: grid;
    }

    h1 {
        font-size: 44px
    }
    
    h2 {
        font-size: 42px
    }

    h3 {
        font-size: 36px
    }

    #all-contents {
        height: 100ch;
        margin: none;
    }

    a {
        font-size: 42px;
    }

    .sidebar {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .sidebar-img {
        width: 100%;
    }

    p,
    li {
        font-size: 24px;
    }

    .content {
        align-content: center;
        justify-content: center;
    }
}